/* 공통적으로 적용되는 css 예를 들면 header, footer 등의 스타일을 모두 저장하는 css이다. */

/* header */
.nav_container {
    border-bottom: 1px solid var(--gray-line);
    background: #fff;
    box-sizing: border-box;
    height: 96px;
}

.nav {
    width: var(--primary-width);
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_logo {
    width: 150px;
    height: 60px;
}

.logo {
    width: 100%;
    height: 100%;
}

.navbar_Loginwrapper {
    display: flex;
    gap: 10px;
}

.nav_list {
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}

/* 임의로 헤더와 푸터를 확인하기 위한 코드, 실제 사용시 지워야함. */
.content {
    height: 500px;
}


/* footer */
.footer_container {
    border-top: 1px solid var(--gray-line);
    background: #fff;
    height: 180px;
}

.footer {
    width: var(--primary-width);
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright h2 {
    font-size: 24px;
    font-weight: 700;
}

.copyright_content {
    color: #777;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 8px;
}

.hakseubjang {
    display: flex;
    gap: 40px;
    padding: 60px 0;
}

.ft14-fw600 {
    font-size: 14px;
    font-weight: 600;
}