<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 아이콘 사용을 위한 fontawesome CDN -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!-- favicon 적용 모든 html에 적용되어야 함.-->
    <link rel="icon" href="./../../static/img/icon_regular.png">

    <!-- reset.css, common 모든 html에 적용되어야 함. -->
    <link rel="stylesheet" href="../../static/css/reset.css"> 
    <link rel="stylesheet" href="../../static/css/common.css"> 

    <title>평생학습의 장터, 학습장</title>
</head>
<body>
<div id="root">
    <!-- nav -->
    <div class="nav_container">
        <nav class="nav">
            <a class="nav_logo" href="/">
                <img class="logo" src="../../static/img/icon_word.png">
            </a>
            <div class="navbar_Loginwrapper">
                <a href="/hakSeubJang-FE/templates/lecture/list.html" class="nav_list">전체 강의</a>
                <a href="/hakSeubJang-FE/templates/login.html" class="nav_list">로그인</a>
            </div>
        </nav>
    </div> <!-- nav_container -->

    <!-- 여기서부터 코드 짜면됨. 단, content class이름 자체는 절대 건들지 말 것. -->
    <div class="content">

    </div>

    <!-- footer -->
    <div class="footer_container">
        <footer class="footer">
            <div class="copyright">
                <h2>학습장</h2>
                <div class="copyright_content">
                    <span>Contact</span>
                    <span>lemonherb0323@naver.com</span>
                </div>
                <div class="copyright_content">
                    <span>Copyright</span>
                    <span>HakSeubJang. All rights reserved</span>
                </div>
            </div>
            <div class="hakseubjang">
                <a class="ft14-fw600" href="#">이용약관</a>
                <a class="ft14-fw600" href="#">개인정보처리방침</a>
                <a class="ft14-fw600" href="#">서비스소개</a>
            </div>

        </footer>
    </div>
</div>
    
</body>
</html>