<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 아이콘 사용을 위한 fontawesome CDN -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!-- favicon 적용 모든 html에 적용되어야 함.-->
    <link rel="icon" href="./../../static/img/icon_regular.png">

    <!-- reset.css, common 모든 html에 적용되어야 함. -->
    <link rel="stylesheet" href="../../static/css/reset.css"> 
    <link rel="stylesheet" href="../../static/css/common.css">
    
    <!-- my,list page css -->
    <link rel="stylesheet" href="../../static/css/mylist.css">

    <title>평생학습의 장터, 학습장</title>
</head>
<body>
<div id="root">
    <!-- nav -->
    <div class="nav_container">
        <nav class="nav">
            <a class="nav_logo" href="/">
                <img class="logo" src="../../static/img/icon_word.png">
            </a>
            <div class="navbar_Loginwrapper">
                <a href="/hakSeubJang-FE/templates/lecture/list.html" class="nav_list">전체 강의</a>
                <a href="/hakSeubJang-FE/templates/login.html" class="nav_list">로그인</a>
            </div>
        </nav>
    </div> <!-- nav_container -->

    <!-- 여기서부터 코드 짜면됨. 단, content class이름 자체는 절대 건들지 말 것. -->
    <div class="content">
        <!-- 검색창 -->
        <form class="search">
            <div class="search_bar">
                <input type="text" name="query" value="">
                <button type="submit">검색</button>
            </div>
        </form>
        
        <!-- 강좌 필터 -->
        <form class="lecture_filter">
            <h2 class="lecture_list_title">강의 리스트</p>
            <div class="filter_block">
                
                <!-- 지역선택 필터 -->
                <div class="filter_block_area">
                    <p class="area_title">지역 선택</p>
                    <select name="region" id="">
                        <option value="">서울</option>
                        <option value="">부산</option>
                        <option value="">대구</option>
                        <option value="">인천</option>
                        <option value="">광주</option>
                        <option value="">대전</option>
                        <option value="">울산</option>
                        <option value="">세종</option>
                        <option value="">경기</option>
                        <option value="">강원</option>
                        <option value="">충북</option>
                        <option value="">충남</option>
                        <option value="">전북</option>
                        <option value="">전남</option>
                        <option value="">경북</option>
                        <option value="">경남</option>
                        <option value="">제주</option>
                    </select>
                </div>

                <!-- 온/오프라인 필터 -->
                <div class="filter_block_onoff">
                    <div class="onoff_title">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M54.2 202.9C123.2 136.7 216.8 96 320 96s196.8 40.7 265.8 106.9c12.8 12.2 33 11.8 45.2-.9s11.8-33-.9-45.2C549.7 79.5 440.4 32 320 32S90.3 79.5 9.8 156.7C-2.9 169-3.3 189.2 8.9 202s32.5 13.2 45.2 .9zM320 256c56.8 0 108.6 21.1 148.2 56c13.3 11.7 33.5 10.4 45.2-2.8s10.4-33.5-2.8-45.2C459.8 219.2 393 192 320 192s-139.8 27.2-190.5 72c-13.3 11.7-14.5 31.9-2.8 45.2s31.9 14.5 45.2 2.8c39.5-34.9 91.3-56 148.2-56zm64 160a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/></svg>
                        <p class="onoff_title_p">온/오프라인</p>
                    </div>
                    <div class="button_filter">
                        <button class="onoff">모두</button>
                        <button class="onoff">오프라인</button>
                        <button class="onoff">온라인</button>
                    </div>
                </div>

                <!-- 모집대상 필터 -->
                <div class="filter_block_anyone">
                    <p class="anyone_p">모집대상</p>
                    <div class="button_filter">
                        <button class="anyone">전체</button>
                        <button class="anyone">성인</button>
                        <button class="anyone">어린이</button>
                        <button class="anyone">장애인</button>
                    </div>
                </div>

            </div>
        </form>

        <!-- 페이지네이션 -->
        <div class="list_page">
            <ul class="pagination model">
                <li><a href="#" class="first">처음 페이지</a></li>
                <li><a href="#" class="arrow left">&laquo;</a></li>
                <li><a href="#" class="active num">1</a></li>
                <li><a href="#" class="num">2</a></li>
                <li><a href="#" class="num">3</a></li>
                <li><a href="#" class="num">4</a></li>
                <li><a href="#" class="num">5</a></li>
                <li><a href="#" class="num">6</a></li>
                <li><a href="#" class="num">7</a></li>
                <li><a href="#" class="num">8</a></li>
                <li><a href="#" class="num">9</a></li>
                <li><a href="#" class="arrow right">&raquo;</a></li>
                <li><a href="#" class="last">끝 페이지</a></li>
            </ul>
        </div>
    </div>

    <!-- footer -->
    <div class="footer_container">
        <footer class="footer">
            <div class="copyright">
                <h2>학습장</h2>
                <div class="copyright_content">
                    <span>Contact</span>
                    <span>lemonherb0323@naver.com</span>
                </div>
                <div class="copyright_content">
                    <span>Copyright</span>
                    <span>HakSeubJang. All rights reserved</span>
                </div>
            </div>
            <div class="hakseubjang">
                <a class="ft14-fw600" href="#">이용약관</a>
                <a class="ft14-fw600" href="#">개인정보처리방침</a>
                <a class="ft14-fw600" href="#">서비스소개</a>
            </div>

        </footer>
    </div>
</div>
    
</body>
</html>