<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 아이콘 사용을 위한 fontawesome CDN -->
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

  <!-- favicon 적용 모든 html에 적용되어야 함.-->
  <link rel="icon" href="../../static/img/icon_regular.png">

  <!-- reset.css, common 모든 html에 적용되어야 함. -->
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/common.css">

  <!-- my,list page css -->
  <link rel="stylesheet" href="../../static/css/mylist.css">

  <title>평생학습의 장터, 학습장</title>
</head>
<body>
<div id="root">
  <!-- nav -->
  <div class="nav_container">
    <nav class="nav">
      <a class="nav_logo" th:href="@{/}">
        <img class="logo" src="../../static/img/icon_word.png">
      </a>
      <div class="navbar_Loginwrapper" sec:authorize="!isAuthenticated()">
        <a th:href="@{/lecture/list}" class="nav_list">전체 강의</a>
        <a th:href="@{/user/login}" class="nav_list">로그인</a>
      </div>
      <div class="navbar_Loginwrapper" sec:authorize="isAuthenticated()">
        <a th:href="@{/lecture/list}" class="nav_list">전체 강의</a>
        <a th:href="@{/user/mypage}" class="nav_list">마이페이지</a>
        <span th:text="${session.user.getName()}"></span>
        <form th:action="@{/user/logout}" method="post">
          <input type="submit" th:value="로그아웃" class="nav_list">
        </form>
      </div>
    </nav>
  </div> <!-- nav_container -->

  <!-- 여기서부터 코드 짜면됨. 단, content class이름 자체는 절대 건들지 말 것. -->
  <div class="content">
    <!-- 검색창 -->
    <form class="search" th:action="@{/lecture/list2}">
      <div class="search_bar">
        <input type="text" name="srchText">
        <button type="submit">검색</button>
      </div>
    </form>

    <!-- 강좌 필터 -->
    <form class="lecture_filter" th:action="@{/lecture/list}">
      <h2 class="lecture_list_title">강의 리스트</h2>
        <div class="filter_block">

          <!-- 지역선택 필터 -->
          <div class="filter_block_area">
            <p class="area_title">지역 선택</p>
            <select name="region" class="area_select">
              <option value="" th:text="전체" th:selected="${session.region} == ''"></option>
              <option value="서울" th:text="서울" th:selected="${session.region} == '서울'"></option>
              <option value="부산" th:text="부산" th:selected="${session.region} == '부산'"></option>
              <option value="대구" th:text="대구" th:selected="${session.region} == '대구'"></option>
              <option value="인천" th:text="인천" th:selected="${session.region} == '인천'"></option>
              <option value="광주" th:text="광주" th:selected="${session.region} == '광주'"></option>
              <option value="대전" th:text="대전" th:selected="${session.region} == '대전'"></option>
              <option value="울산" th:text="울산" th:selected="${session.region} == '울산'"></option>
              <option value="세종" th:text="세종" th:selected="${session.region} == '세종'"></option>
              <option value="경기" th:text="경기" th:selected="${session.region} == '경기'"></option>
              <option value="강원" th:text="강원" th:selected="${session.region} == '강원'"></option>
              <option value="충북" th:text="충북" th:selected="${session.region} == '충북'"></option>
              <option value="충남" th:text="충남" th:selected="${session.region} == '충남'"></option>
              <option value="전북" th:text="전북" th:selected="${session.region} == '전북'"></option>
              <option value="전남" th:text="전남" th:selected="${session.region} == '전남'"></option>
              <option value="경북" th:text="경북" th:selected="${session.region} == '경북'"></option>
              <option value="경남" th:text="경남" th:selected="${session.region} == '경남'"></option>
              <option value="제주" th:text="제주" th:selected="${session.region} == '제주'"></option>
            </select>
          </div>

          <!-- 온/오프라인 필터 -->
          <div class="filter_block_onoff">
            <div class="onoff_title">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M54.2 202.9C123.2 136.7 216.8 96 320 96s196.8 40.7 265.8 106.9c12.8 12.2 33 11.8 45.2-.9s11.8-33-.9-45.2C549.7 79.5 440.4 32 320 32S90.3 79.5 9.8 156.7C-2.9 169-3.3 189.2 8.9 202s32.5 13.2 45.2 .9zM320 256c56.8 0 108.6 21.1 148.2 56c13.3 11.7 33.5 10.4 45.2-2.8s10.4-33.5-2.8-45.2C459.8 219.2 393 192 320 192s-139.8 27.2-190.5 72c-13.3 11.7-14.5 31.9-2.8 45.2s31.9 14.5 45.2 2.8c39.5-34.9 91.3-56 148.2-56zm64 160a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/></svg>
              <p class="onoff_title_p">온/오프라인</p>
            </div>
            <div class="button_filter">
              <input type="radio" class="onoff" name="edcMthType" value="" th:checked="${session.edcMthType} == ''">모두</input>
              <input type="radio" class="onoff" name="edcMthType" value="오프라인" >오프라인</input>
              <input type="radio" class="onoff" name="edcMthType" value="온라인">온라인</input>
            </div>
          </div>

          <!-- 모집대상 필터 -->
          <div class="filter_block_anyone">
            <p class="anyone_p">모집대상</p>
            <div class="button_filter">
              <input type="radio" class="anyone" name="edcTrgetType" value="">전체</input>
              <input type="radio" class="anyone" name="edcTrgetType" value="성인">성인</input>
              <input type="radio" class="anyone" name="edcTrgetType" value="어린이">어린이</input>
              <input type="radio" class="anyone" name="edcTrgetType" value="장애인">장애인</input>
            </div>
          </div>
        </div>
      <button type="submit">조회</button>
    </form>

    <div id="list-1" class="list_select_content_1" th:each="lecture, iStat : ${lecturePage.content}" th:href="@{detail(id=${lecture.id})}">
      <!-- 강좌 한 블록 -->
      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

      <div class="list_block">
        <div class="list_block_header">
          <div class="list_block_header_start">
            <button class="onoff" th:text="${lecture.getEdcMthType()}"></button>
            <button class="anyone" th:text="${lecture.getEdcTrgetType()}"></button>
          </div>
          <div class="list_block_header_end" th:text="${lecture.getRemainDay()}"></div>
        </div>
        <div class="list_block_title" th:text="${lecture.getLctreNm()}"></div>
        <div class="list_block_location">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
          <p th:text="${lecture.getEdcRdnmadr()}"></p>
        </div>
        <hr>
        <div class="list_block_option">
          <div sec:authorize="!isAuthenticated()">
            <div class="list_block_option_heart">
              <a th:href="@{wish(lectureId=${lecture.getId()}, page=${currentPage}, size=${pageSize})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              <p>찜</p>
            </div>
          </div>
          <a th:href="@{detail(id=${lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
        </div>
      </div>

    <!-- 페이지네이션 -->
    <div class="list_page">
      <ul class="pagination model" th:with="start=${(lecturePage.number/10)*10 + 1}, end=(${(lecturePage.totalPages == 0) ? 1 : (start + (10 - 1) < lecturePage.totalPages ? start + (10 - 1) : lecturePage.totalPages)})">
        <li th:if="${start > 1}">
          <a th:href="@{/lecture/list(page=1, size=10, region=${session.region}, edcMthType=${session.edcMthType}, edcTrgetType=${session.edcTrgetType})}" class="first" th:text="처음 페이지"></a>
        </li>

        <li th:if="${start > 1}">
          <a th:href="@{/lecture/list(page=${start - 10}, size=10, region=${session.region}, edcMthType=${session.edcMthType}, edcTrgetType=${session.edcTrgetType})}" class="arrow left" th:text="'<'"></a>
        </li>

        <li th:each="page: ${#numbers.sequence(start, end)}">
          <a th:text="${page}" th:href="@{/lecture/list(page=${page}, size=10, region=${session.region}, edcMthType=${session.edcMthType}, edcTrgetType=${session.edcTrgetType})}" class="num"></a>
        </li>

        <li th:if="${end < lecturePage.totalPages}">
          <a th:href="@{/lecture/list(page=${start + 10}, size=10, region=${session.region}, edcMthType=${session.edcMthType}, edcTrgetType=${session.edcTrgetType})}" class="arrow right" th:text="'>'"></a>
        </li>

        <li th:if="${end < lecturePage.totalPages}">
          <a th:href="@{/lecture/list(page=${lecturePage.totalPages}, size=10, region=${session.region}, edcMthType=${session.edcMthType}, edcTrgetType=${session.edcTrgetType})}" th:text="'끝 페이지'" class="last"></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- footer -->
  <div class="footer_container">
    <footer class="footer">
      <div class="copyright">
        <h2>학습장</h2>
        <div class="copyright_content">
          <span>Contact</span>
          <span>lemonherb0323@naver.com</span>
        </div>
        <div class="copyright_content">
          <span>Copyright</span>
          <span>HakSeubJang. All rights reserved</span>
        </div>
      </div>
      <div class="hakseubjang">
        <a class="ft14-fw600" href="#">이용약관</a>
        <a class="ft14-fw600" href="#">개인정보처리방침</a>
        <a class="ft14-fw600" href="#">서비스소개</a>
      </div>

    </footer>
  </div>
</div>

</body>
</html>